*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.header{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(my.jpg);
    min-height: 60vh;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    
}


nav{
    align-items: center;
    padding: 2% 6%;
    justify-content: space-between;
    display: flex;
}
 nav img{
    width: 150px;
}

.nav1 ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 10px;

}

.nav1{
    text-align: right;
    margin-right: 100px;
}

.nav1 ul li a{
    text-decoration: none;
    color: #fff;
}



.form{
    margin-left: 300px;
    border: none;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    width: 90%;
    margin-left: 50px;
}

.form h1{
    font-size: 30px;
    word-spacing: 5px;
    line-height: 50px;
}

.email{
    height: 20px;
    width: 650px;
    border: none;
    line-height: 200px;
}



p{
    color: #fff;
    margin-left: 50px;
    line-height: 50px;
}

.par{
    color: #fff;
    margin-left: 50px;
    line-height: 20px;
    margin-top: 20px;
}

.btn{
    background: rgb(101, 101, 238);
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 0 10px;
    margin-left: -20px;
}


.btn .fa{
    color: #fff;
}

.email, .btn{
    border: none;
    outline: none;
}

.hero{
    padding: 8px 20px;
    display: inline-block;
    border: 1px solid #fff;
    margin-top: 20px;
    background: transparent;
    text-decoration: none;
    color: #fff;
    font-weight: 400%;
    text-align: center;
}

.adv{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 60px;
}

.adv h1{
    font-size: 20px;
    font-weight: normal;
}

.row{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.col{
    flex-basis: 31%;
    background: #f3f3f3;
}


